.carrouselTitlePage {
  color: #f79007;
  font-size: 32px;
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  background-color: #073242;
}

.carrouselleContainer{
  width: 100%;
  height: auto;
  background-color: #073242;
  margin-top: -22px;
}

