.carrouselTitlePage {
  color: #f79007;
  font-size: 32px;
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  background-color: #073242;
}

.carrouselleContainer{
  width: 100%;
  height: auto;
  background-color: #073242;
  margin-top: -22px;
}
.TextLeverdefond{
  font-size: 18px;
  color: white;
  text-align: center; /* to center the text inside the p tag */

}
@media (max-width: 1024px) {
  .TextLeverdefond{
    margin-left: 5%;
    width: 90%;
    text-align: justify;
  }

}
