.carouselContainer {
  width: 100%;
  background-image: linear-gradient(to bottom, #073242 75%, #02e3dc 100%);
  height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carrouselTitle {
  color: #f79007;
  font-size: 24px;
  margin-bottom: 20px;
}

.carousel {
  width: 400px;
  height: 600px;
  perspective: 5000px;
}

.carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-style: solid;
  border-color: #f79007;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  transform-style: preserve-3d;
  backface-visibility: hidden;

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    cursor: pointer;

    .card-image {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 12px;
    }

    .card-content {
      text-align: center;
      margin-top: 10px;

      .card-title {
        font-size: 20px;
        font-weight: bold;
        color: #f79007;
        margin-bottom: 10px;
      }

      .card-text {
        font-size: 16px;
        color: white;
      }
    }
  }
}

.navigationButtons {
  margin-top: 20px;
  display: flex;

  .prev-button,
  .next-button {
    width: 50px;
    height: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #02e3dc;
    color: #f79007;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #f79007;
    }

    img {
      width: 24px;
      height: 24px;
    }
  }

  .prev-button {
    margin-right: 10px;

  }

  .next-button {
    rotate: 180deg;
  }
}
@media (max-width: 768px) {
  .carouselContainer {
    height: auto;
  }

  .carousel {
    width: 90%; // Reduced to 90% for smaller screens
    height: auto;
  }

  .carousel-slide {
    .card {
      .card-image {
        max-width: 100%; // To ensure the image does not overflow the container
      }
    }
  }

  .navigationButtons {

    .prev-button,
    .next-button {
      margin-top: 260px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
    }

    .prev-button {
      margin-right: 0;
    }
  }
}
