.NavBar {
  display: flex;
  align-items: baseline;
  background-image: linear-gradient(to right, #073242 70%, #02e3dc 100%);
  align-items: center;
  top: 0px;
  height: 100px;
  width: 100%;
  z-index: 2;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.container-logo-title {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-right:20px ;
}

.logo {
  width: 100px;
  border-radius: 50%;
}

.logoImages {
  width: 80%;
  object-fit: cover;
  margin-left: 20px;
  border-radius: 50%;
  animation: heartbeat 2s infinite;
}

.buttonLink {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.9);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  flex-direction: column;
  align-items: center;
}

.buttonLink.open {
  transform: translateX(0);
}

.HeaderLink {
  color: white;
  margin-right: 40px;
  text-decoration: none;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
  position: relative;
  display: inline-block;
}

.HeaderLink:hover {
  font-size: 18px;
  color: #f79007;
  text-shadow: 0 0 5px #f79007, 0 0 10px #f79007, 0 0 15px #f79007, 0 0 20px #f79007;
}

.HeaderLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -39px;
  height: 3px;
  width: 100%;
  background-color: #f79007;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 0 0 5px #f79007, 0 0 10px #f79007, 0 0 15px #f79007, 0 0 20px #f79007;
}

.HeaderLink:hover::after {
  transform: scaleX(1);
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.mobile-menu-icon {
  display: none;
}

@media (max-width: 768px) {
  .container-logo-title {
    flex-direction: column;
    justify-content: center;
    z-index: 4;
  }
  .NavBar{
    justify-content: space-between;
  }

  .logo {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
  }

  .HeaderLink {
    margin-right: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
  }
  .HeaderLink::after {
    bottom: -5px;
  }

  .mobile-menu-icon {
    display: block;
    margin-left: 20px;
    margin-right: 40px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    z-index: 3;
  }

  .buttonLink {
    display: flex;
    width: 100%;
    background-image: linear-gradient(to bottom, #073242 70%, #02e3dc 100%);
    z-index: 1;
  }

  .buttonLink.open {
    transform: none;
  }
}

@media (min-width: 769px) {
  .mobile-menu-icon {
    display: none;
  }

  .buttonLink {
    position: static;
    top: auto;
    left: auto;
    height: auto;
    width: 100%;
    background-color: transparent;
    transform: none;
    transition: none;
    flex-direction: row;
    align-items: baseline;
  }
  .NavBar{
    justify-content: space-around;
  }
}
